.navbar{
    background-color:#EB6440 ;
    display: flex;
    padding: 0.1rem 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

#logo-gato{
    transform: rotate(180deg);
}

.container{
display: flex;
justify-content: center;
}

section{
    margin: 5rem;
}

#container-gt1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container-gt2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#container-gt3{
    display: flex;
    justify-content: center;
}

#container-gt4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container-gt5{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container-gt6{
    display: flex;
    justify-content: center;
}


